<<<<<<< HEAD
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f9fafb;
}

h1, h2, h3 {
  color: #1e293b;
}

a {
  text-decoration: none;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

>>>>>>> 25afc8f
